.App {
  margin-top: 2vh;
  width: 100%;
  padding: 4rem;
  height: 98vh;
  text-align: center;
  background: rgb(201, 201, 201);
  background: linear-gradient(
    180deg,
    rgba(201, 201, 201, 1) 6%,
    rgba(0, 0, 0, 0) 13%
  );
}
